<div class="modal-header">
    Ingrese el valor de la entrada
</div>

<div class="modal-body">
    <div class="form-group">
        <label class="control-label" for="course">{{receiveInput.name + ' (' + receiveInput.unit + ')'}}</label>
        <input type="number" value="{{receiveInput.min}}" min="{{receiveInput.min}}" max="{{receiveInput.max}}" class="form-control" ng-model="userInput">
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="excecute()">Agregar</button>
    <button type="button" class="btn btn-primary" ng-click="close()">Cerrar</button>
</div>
