<div class="modal-header">
    Propiedades de la relación
</div>

<div class="modal-body">
    <div class="form-group">
        <label class="control-label" for="course">{{receiveInput.name + ' (' + receiveInput.unit + ')'}}</label>
        <input type="number" value="{{receiveInput.min}}" min="{{receiveInput.min}}" max="{{receiveInput.max}}" class="form-control">
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()">Guardar</button>
    <button type="button" class="btn btn-primary" ng-click="close()">Cerrar</button>
</div>
